ce the following inside main.css:

html {
}
body {
    margin: 60px auto;
    width: 70%;
    background: #7a3e4a;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    color: #eecb87;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #eecb87;
    text-align: center;
}
form {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #eecb87;
    text-align: center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
#button {
    background-color: #eecb87;
    
}

body {
    align-content: center;
}
